<div class="row">
  <div class="col-sm-3">
    <label color="green">Gross Pay: </label><font color="green" ng-bind="payrolldetails.GrossYearlyPay"></font>
  </div>
  <div class="col-sm-3">
    <label>Benefit Deductions: </label><font color="red" ng-bind="payrolldetails.BenefitDeductions"></font>
  </div>
  <div class="col-sm-3">
    <label>Dependent Deductions: </label><font color="red" ng-bind="payrolldetails.DependentDeductions"></font>
  </div>
  <div class="col-sm-3">
    <label >Savings Discount: </label><font color="green" ng-bind="payrolldetails.Savings"></font>
  </div>
</div>
